.side-body
  .side-header
    .name-box
      .user-name
        ユーザー名
      .icons
        =link_to "#", class: "icons__btn" do
          = icon('fas', 'edit', class: "icons__btn")
        =link_to "#", class: "icons__btn" do
          = icon('fas', 'cog', class: "icons__btn")
  .groups
    .side-message
      .side-group
        グループ名
      .side-message-box
        メッセージを表示する
    .side-message
      .side-group
        グループ名
      .side-message-box
        メッセージを表示する
    .side-message
      .side-group
        グループ名
      .side-message-box
        メッセージを表示する
    .side-message
      .side-group
        グループ名
      .side-message-box
        メッセージを表示する